# Database Connection

In [1]:
# Dependencies

import pandas as pd
from sqlalchemy import create_engine
from dotenv import load_dotenv
import os

You will need to create a `.env` file in your project root directory and add the following environment variables:

DB_USER=your_database_user

DB_PASSWORD=your_database_password

DB_HOST=your_database_host

DB_PORT=your_database_port

DB_NAME=your_database_name

You will also need to add the .env file to your `.gitignore` file to prevent it from being tracked by Git. The .gitignore file should contain the following line:

`.env`

---

In Windows Command Prompt:

C:\Program Files\PostgreSQL\16\bin>psql -U postgres -h localhost -d global_inflation_db
Password for user postgres:

psql (16.3)
WARNING: Console code page (437) differs from Windows code page (1252)
         8-bit characters might not work correctly. See psql reference
         page "Notes for Windows users" for details.
Type "help" for help.

global_inflation_db=#

In [2]:
# Load environment variables from .env file
load_dotenv()

# Get environment variables
db_user = os.getenv('DB_USER')
db_password = os.getenv('DB_PASSWORD')
db_host = os.getenv('DB_HOST')
db_port = os.getenv('DB_PORT')
db_name = os.getenv('DB_NAME')

# Print environment variables to verify they are loaded correctly
print("DB_USER:", db_user)
print("DB_PASSWORD:", db_password)
print("DB_HOST:", db_host)
print("DB_PORT:", db_port)
print("DB_NAME:", db_name)

DB_USER: postgres
DB_PASSWORD: postgres
DB_HOST: localhost
DB_PORT: 5432
DB_NAME: global_inflation_db

In [3]:
# Function to connect to DB
def connect_to_db():
    try:
        connection = psycopg2.connect(
            user=os.getenv('DB_USER'),
            password=os.getenv('DB_PASSWORD'),
            host=os.getenv('DB_HOST'),
            port=int(os.getenv('DB_PORT')),  # Convert port to integer
            database=os.getenv('DB_NAME')
        )
        return connection
    except Exception as error:
        print(f"Error: {error}")
        return None

In [4]:
# Create the database connection string
connection_string = f'postgresql://{db_user}:{db_password}@{db_host}:{db_port}/{db_name}'

# Create a SQLAlchemy engine
engine = create_engine(connection_string)

In [5]:
# Function to fetch data
def fetch_data_from_db(query):
    try:
        df = pd.read_sql_query(query, engine)
        return df
    except Exception as error:
        print(f"Error: {error}")
        return None

In [6]:
# Query to fetch data from the 'inflation' table
query = """
SELECT *
FROM inflation
ORDER BY year
"""
df = fetch_data_from_db(query)

if df is not None:
    print(df.head())  # Print the first few rows of the DataFrame to verify
else:
    print("Failed to fetch data from the database.")

                         id              country  \
0              Albania_1980              Albania
1              Algeria_1980              Algeria
2              Andorra_1980              Andorra
3               Angola_1980               Angola
4  Antigua and Barbuda_1980  Antigua and Barbuda

                                         indicator  year  inflation_rate
0  Annual average inflation (consumer prices) rate  1980             NaN
1  Annual average inflation (consumer prices) rate  1980             9.7
2  Annual average inflation (consumer prices) rate  1980             NaN
3  Annual average inflation (consumer prices) rate  1980            46.7
4  Annual average inflation (consumer prices) rate  1980            19.0

In [7]:
df.head()

,id,country,indicator,year,inflation_rate
0,Albania_1980,Albania,Annual average inflation (consumer prices) rate,1980,NaN
1,Algeria_1980,Algeria,Annual average inflation (consumer prices) rate,1980,9.7
2,Andorra_1980,Andorra,Annual average inflation (consumer prices) rate,1980,NaN
3,Angola_1980,Angola,Annual average inflation (consumer prices) rate,1980,46.7
4,Antigua and Barbuda_1980,Antigua and Barbuda,Annual average inflation (consumer prices) rate,1980,19.0

In [8]:
df_sorted = df.sort_values(by=['country','year'])
df_sorted.head()

,id,country,indicator,year,inflation_rate
98,Afghanistan_1980,Afghanistan,Annual average inflation (consumer prices) rate,1980,13.4
196,Afghanistan_1981,Afghanistan,Annual average inflation (consumer prices) rate,1981,22.2
392,Afghanistan_1982,Afghanistan,Annual average inflation (consumer prices) rate,1982,18.2
588,Afghanistan_1983,Afghanistan,Annual average inflation (consumer prices) rate,1983,15.9
784,Afghanistan_1984,Afghanistan,Annual average inflation (consumer prices) rate,1984,20.4

In [9]:
df_sorted.describe()

              year  inflation_rate
count  8820.000000     7952.000000
mean   2002.000000       42.069447
std      12.987909      861.118508
min    1980.000000      -72.700000
25%    1991.000000        2.100000
50%    2002.000000        4.700000
75%    2013.000000       10.200000
max    2024.000000    65374.100000

In [13]:
if df_sorted is not None:
    print("Data fetched successfully:")
    print(df_sorted.head())  # Print the first few rows of the DataFrame to verify

    # High-level assessment
    print("\nHigh-level Assessment of the Data:")
    print(f"Number of records: {len(df_sorted)}")
    
    # Number of unique countries
    num_countries = df_sorted['country'].nunique()
    print(f"Number of unique countries: {num_countries}")
    
    # Number of unique years
    num_years = df_sorted['year'].nunique()
    print(f"Number of unique years: {num_years}")
    
    # Summary statistics for inflation rates (or other relevant columns)
    print("\nSummary statistics for the dataset:")
    print(df_sorted.describe())
else:
    print("Failed to fetch data from the database.")

Data fetched successfully:
                   id      country  \
98   Afghanistan_1980  Afghanistan
196  Afghanistan_1981  Afghanistan
392  Afghanistan_1982  Afghanistan
588  Afghanistan_1983  Afghanistan
784  Afghanistan_1984  Afghanistan

                                           indicator  year  inflation_rate
98   Annual average inflation (consumer prices) rate  1980            13.4
196  Annual average inflation (consumer prices) rate  1981            22.2
392  Annual average inflation (consumer prices) rate  1982            18.2
588  Annual average inflation (consumer prices) rate  1983            15.9
784  Annual average inflation (consumer prices) rate  1984            20.4

High-level Assessment of the Data:
Number of records: 8820
Number of unique countries: 196
Number of unique years: 45

Summary statistics for the dataset:
              year  inflation_rate
count  8820.000000     7952.000000
mean   2002.000000       42.069447
std      12.987909      861.118508
min    1980.000000      -72.700000
25%    1991.000000        2.100000
50%    2002.000000        4.700000
75%    2013.000000       10.200000
max    2024.000000    65374.100000